{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- index.html content starts here -->
<div class="container">
    <!-- Search Bar and Request Book Button -->
    <div class="row justify-content-center mb-4">
        {% if user.is_authenticated %}
            <div class="col-md-4 col-lg-6">
                <button class="d-flex btn btn-primary ms-2" id="btn-request">Request a Book</button>
            </div>
        {% endif %}
        <div class="col-md-8 col-lg-6">
            <form class="d-flex align-items-center" action="#" method="get">
                <input type="text" id="searchbar" name="searchbar" class="form-control" placeholder="Search for books..." />
                <button type="submit" class="btn btn-primary ms-2"><i class="fa fa-search"></i> Search</button>
            </form>
            <!--Request button-->
        </div>
    </div>

    <div class="row">
        <!-- Book Entries Column -->
        <div class="col-12">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for book in book_list %}
                <div class="col">
                    <div class="card border-0 shadow-sm rounded-lg">
                        <div class="card-body p-4">
                            <div class="image-container mb-3 position-relative">
                                {% if "placeholder" in book.cover.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image" />
                                {% else %}
                                <img class="card-img-top" src="{{ book.cover.url }}" alt="{{ book.title }}" />
                                {% endif %}
                                <div class="image-flash position-absolute bottom-0 start-0 p-3">
                                    <p class="author text-white m-0">{{ book.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'book_detail' book.slug %}" class="post-link">
                                <h5 class="card-title text-dark">{{ book.title }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Prev</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Request Book Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">What book would you like to request?</h5>
            </div>
            <div class="modal-body">
                <form id="requestForm" method="post" style="margin-top: 1.3em;">
                    {{ request_form | crispy }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="requestConfirm" href="#" class="btn
                btn-danger">Request</a>
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/request.js' %}"></script>
{% endblock %}